<h2>Zipcodes Entered</h2>
<a href='/'>Enter a new zipcode</a>
<table>
  <tr>
    <th>zipcode</th>
    <th>place</th>
  </tr>

  <% @zipcodes.each do |zipcodes| %>
    <tr>
      <td><%= zipcodes.zipcode %></td>
      <td><%= zipcodes.place %></td>
    </tr>
  <% end %>
</table>


